ASSINGNMENT 01

190832 Saeed Akbar

Connecting to google Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

ADDING REQUIRED LIBRARIES

In [2]:
# for data analysis
import pandas as pd
#For Pre Processing Data
from sklearn import preprocessing
# To divide data in training and testing
from sklearn.model_selection import train_test_split

Importing Data set

In [3]:
df=pd.read_csv('/content/drive/MyDrive/Assingnment01/malicious-website-dataset.csv')

Reading data set

In [4]:
df.head(10)

,URL,URL_LENGTH,NUMBER_SPECIAL_CHARACTERS,CHARSET,SERVER,CONTENT_LENGTH,WHOIS_COUNTRY,WHOIS_STATEPRO,WHOIS_REGDATE,WHOIS_UPDATED_DATE,...,DIST_REMOTE_TCP_PORT,REMOTE_IPS,APP_BYTES,SOURCE_APP_PACKETS,REMOTE_APP_PACKETS,SOURCE_APP_BYTES,REMOTE_APP_BYTES,APP_PACKETS,DNS_QUERY_TIMES,Type
0,M0_109,16,7,iso-8859-1,nginx,263.0,NaN,NaN,10/10/2015 18:21,NaN,...,0,2,700,9,10,1153,832,9,2.0,1
1,B0_2314,16,6,UTF-8,Apache/2.4.10,15087.0,NaN,NaN,NaN,NaN,...,7,4,1230,17,19,1265,1230,17,0.0,0
2,B0_911,16,6,us-ascii,Microsoft-HTTPAPI/2.0,324.0,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0.0,0
3,B0_113,17,6,ISO-8859-1,nginx,162.0,US,AK,07/10/1997 4:00,12/09/2013 0:45,...,22,3,3812,39,37,18784,4380,39,8.0,0
4,B0_403,17,6,UTF-8,NaN,124140.0,US,TX,12/05/1996 0:00,11/04/2017 0:00,...,2,5,4278,61,62,129889,4586,61,4.0,0
5,B0_2064,18,7,UTF-8,nginx,NaN,SC,Mahe,03/08/2016 14:30,03/10/2016 3:45,...,6,9,894,11,13,838,894,11,0.0,0
6,B0_462,18,6,iso-8859-1,Apache/2,345.0,US,CO,29/07/2002 0:00,01/07/2016 0:00,...,0,3,1189,14,13,8559,1327,14,2.0,0
7,B0_1128,19,6,us-ascii,Microsoft-HTTPAPI/2.0,324.0,US,FL,18/03/1997 0:00,19/03/2017 0:00,...,0,0,0,0,0,0,0,0,0.0,0
8,M2_17,20,5,utf-8,nginx/1.10.1,NaN,NaN,NaN,08/11/2014 7:41,NaN,...,0,0,0,2,3,213,146,2,2.0,1
9,M3_75,20,5,utf-8,nginx/1.10.1,NaN,NaN,NaN,08/11/2014 7:41,NaN,...,0,0,0,2,1,62,146,2,2.0,1

Summarizing Data Set

In [5]:
df.describe()

,URL_LENGTH,NUMBER_SPECIAL_CHARACTERS,CONTENT_LENGTH,TCP_CONVERSATION_EXCHANGE,DIST_REMOTE_TCP_PORT,REMOTE_IPS,APP_BYTES,SOURCE_APP_PACKETS,REMOTE_APP_PACKETS,SOURCE_APP_BYTES,REMOTE_APP_BYTES,APP_PACKETS,DNS_QUERY_TIMES,Type
count,1781.000000,1781.000000,969.000000,1781.000000,1781.000000,1781.000000,1.781000e+03,1781.000000,1781.000000,1.781000e+03,1.781000e+03,1781.000000,1780.000000,1781.000000
mean,56.961258,11.111735,11726.927761,16.261089,5.472768,3.060640,2.982339e+03,18.540146,18.746210,1.589255e+04,3.155599e+03,18.540146,2.263483,0.121280
std,27.555586,4.549896,36391.809051,40.500975,21.807327,3.386975,5.605057e+04,41.627173,46.397969,6.986193e+04,5.605378e+04,41.627173,2.930853,0.326544
min,16.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,39.000000,8.000000,324.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
50%,49.000000,10.000000,1853.000000,7.000000,0.000000,2.000000,6.720000e+02,8.000000,9.000000,5.790000e+02,7.350000e+02,8.000000,0.000000,0.000000
75%,68.000000,13.000000,11323.000000,22.000000,5.000000,5.000000,2.328000e+03,26.000000,25.000000,9.806000e+03,2.701000e+03,26.000000,4.000000,0.000000
max,249.000000,43.000000,649263.000000,1194.000000,708.000000,17.000000,2.362906e+06,1198.000000,1284.000000,2.060012e+06,2.362906e+06,1198.000000,20.000000,1.000000

Checking Data Type of Colums

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1781 entries, 0 to 1780
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   URL                        1781 non-null   object
 1   URL_LENGTH                 1781 non-null   int64
 2   NUMBER_SPECIAL_CHARACTERS  1781 non-null   int64
 3   CHARSET                    1774 non-null   object
 4   SERVER                     1605 non-null   object
 5   CONTENT_LENGTH             969 non-null    float64
 6   WHOIS_COUNTRY              1475 non-null   object
 7   WHOIS_STATEPRO             1418 non-null   object
 8   WHOIS_REGDATE              1654 non-null   object
 9   WHOIS_UPDATED_DATE         1642 non-null   object
 10  TCP_CONVERSATION_EXCHANGE  1781 non-null   int64
 11  DIST_REMOTE_TCP_PORT       1781 non-null   int64
 12  REMOTE_IPS                 1781 non-null   int64
 13  APP_BYTES                  1781 non-null   int64
 14  SOURCE_APP_PACKETS         1781 non-null   int64
 15  REMOTE_APP_PACKETS         1781 non-null   int64
 16  SOURCE_APP_BYTES           1781 non-null   int64
 17  REMOTE_APP_BYTES           1781 non-null   int64
 18  APP_PACKETS                1781 non-null   int64
 19  DNS_QUERY_TIMES            1780 non-null   float64
 20  Type                       1781 non-null   int64
dtypes: float64(2), int64(12), object(7)
memory usage: 292.3+ KB

Checking Unique Values

In [7]:
df.nunique() # tells number of unique instance

URL                          1781
URL_LENGTH                    142
NUMBER_SPECIAL_CHARACTERS      31
CHARSET                         8
SERVER                        238
CONTENT_LENGTH                637
WHOIS_COUNTRY                  48
WHOIS_STATEPRO                180
WHOIS_REGDATE                 890
WHOIS_UPDATED_DATE            593
TCP_CONVERSATION_EXCHANGE     103
DIST_REMOTE_TCP_PORT           66
REMOTE_IPS                     18
APP_BYTES                     825
SOURCE_APP_PACKETS            113
REMOTE_APP_PACKETS            116
SOURCE_APP_BYTES              885
REMOTE_APP_BYTES              822
APP_PACKETS                   113
DNS_QUERY_TIMES                10
Type                            2
dtype: int64

Randomizing Data Set

In [8]:
random_df=df.sample(frac=1)
random_df.reset_index(drop=True,inplace=False)

,URL,URL_LENGTH,NUMBER_SPECIAL_CHARACTERS,CHARSET,SERVER,CONTENT_LENGTH,WHOIS_COUNTRY,WHOIS_STATEPRO,WHOIS_REGDATE,WHOIS_UPDATED_DATE,...,DIST_REMOTE_TCP_PORT,REMOTE_IPS,APP_BYTES,SOURCE_APP_PACKETS,REMOTE_APP_PACKETS,SOURCE_APP_BYTES,REMOTE_APP_BYTES,APP_PACKETS,DNS_QUERY_TIMES,Type
0,B0_30,41,7,iso-8859-1,Apache,281.0,US,PA,09/03/2010 0:00,18/01/2013 0:00,...,0,3,1868,22,23,18348,2202,22,4.0,0
1,B0_1243,49,11,ISO-8859-1,NaN,1819.0,US,CA,02/11/2002 0:00,02/02/2017 0:00,...,0,0,0,0,0,0,0,0,0.0,0
2,B0_2134,66,11,UTF-8,NaN,9405.0,US,District of Columbia,01/02/2003 16:44,02/02/2017 17:11,...,2,4,1026,15,4,246,1026,15,0.0,0
3,M2_17,20,5,utf-8,nginx/1.10.1,NaN,NaN,NaN,08/11/2014 7:41,NaN,...,0,0,0,2,3,213,146,2,2.0,1
4,B0_636,57,10,ISO-8859-1,Apache,21046.0,US,NY,30/12/2002 0:00,09/04/2014 0:00,...,4,4,8986,111,148,234205,9294,111,4.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,M0_161,52,12,UTF-8,marrakesh 1.12.2,13650.0,BR,NaN,NaN,NaN,...,1,5,1609,22,20,2655,2119,22,6.0,1
1777,B0_2018,113,21,ISO-8859-1,Boston.com Frontend,16230.0,US,MA,26/06/1995 0:00,13/11/2013 0:00,...,6,3,606,7,9,595,606,7,0.0,0
1778,M0_143,40,13,UTF-8,nginx,643.0,NaN,NaN,NaN,NaN,...,1,4,1266,15,12,960,1548,15,4.0,1
1779,B0_1149,54,12,ISO-8859-1,Apache/2.2.27 (Unix) OpenAM Web Agent/4.0.1-1 ...,2503.0,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0.0,0
1780,B0_604,58,11,UTF-8,nginx,NaN,NaN,NaN,17/07/2006 0:00,07/09/2016 0:00,...,9,4,3076,26,23,8668,3494,26,6.0,0

In [9]:
random_df.describe()

,URL_LENGTH,NUMBER_SPECIAL_CHARACTERS,CONTENT_LENGTH,TCP_CONVERSATION_EXCHANGE,DIST_REMOTE_TCP_PORT,REMOTE_IPS,APP_BYTES,SOURCE_APP_PACKETS,REMOTE_APP_PACKETS,SOURCE_APP_BYTES,REMOTE_APP_BYTES,APP_PACKETS,DNS_QUERY_TIMES,Type
count,1781.000000,1781.000000,969.000000,1781.000000,1781.000000,1781.000000,1.781000e+03,1781.000000,1781.000000,1.781000e+03,1.781000e+03,1781.000000,1780.000000,1781.000000
mean,56.961258,11.111735,11726.927761,16.261089,5.472768,3.060640,2.982339e+03,18.540146,18.746210,1.589255e+04,3.155599e+03,18.540146,2.263483,0.121280
std,27.555586,4.549896,36391.809051,40.500975,21.807327,3.386975,5.605057e+04,41.627173,46.397969,6.986193e+04,5.605378e+04,41.627173,2.930853,0.326544
min,16.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,39.000000,8.000000,324.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
50%,49.000000,10.000000,1853.000000,7.000000,0.000000,2.000000,6.720000e+02,8.000000,9.000000,5.790000e+02,7.350000e+02,8.000000,0.000000,0.000000
75%,68.000000,13.000000,11323.000000,22.000000,5.000000,5.000000,2.328000e+03,26.000000,25.000000,9.806000e+03,2.701000e+03,26.000000,4.000000,0.000000
max,249.000000,43.000000,649263.000000,1194.000000,708.000000,17.000000,2.362906e+06,1198.000000,1284.000000,2.060012e+06,2.362906e+06,1198.000000,20.000000,1.000000

Checking Nan and Null values in Data set

In [10]:
random_df.isna().sum()

URL                            0
URL_LENGTH                     0
NUMBER_SPECIAL_CHARACTERS      0
CHARSET                        7
SERVER                       176
CONTENT_LENGTH               812
WHOIS_COUNTRY                306
WHOIS_STATEPRO               363
WHOIS_REGDATE                127
WHOIS_UPDATED_DATE           139
TCP_CONVERSATION_EXCHANGE      0
DIST_REMOTE_TCP_PORT           0
REMOTE_IPS                     0
APP_BYTES                      0
SOURCE_APP_PACKETS             0
REMOTE_APP_PACKETS             0
SOURCE_APP_BYTES               0
REMOTE_APP_BYTES               0
APP_PACKETS                    0
DNS_QUERY_TIMES                1
Type                           0
dtype: int64

Filling Nan values with Mode

In [12]:
random_df = random_df.fillna(random_df.mode())

Checking if still have Nan Values

In [13]:
random_df.isna().sum()

URL                            0
URL_LENGTH                     0
NUMBER_SPECIAL_CHARACTERS      0
CHARSET                        7
SERVER                       176
CONTENT_LENGTH                 0
WHOIS_COUNTRY                305
WHOIS_STATEPRO               362
WHOIS_REGDATE                127
WHOIS_UPDATED_DATE           138
TCP_CONVERSATION_EXCHANGE      0
DIST_REMOTE_TCP_PORT           0
REMOTE_IPS                     0
APP_BYTES                      0
SOURCE_APP_PACKETS             0
REMOTE_APP_PACKETS             0
SOURCE_APP_BYTES               0
REMOTE_APP_BYTES               0
APP_PACKETS                    0
DNS_QUERY_TIMES                0
Type                           0
dtype: int64

Dropping Columns

In [14]:
random_df.drop(columns=['CHARSET','SERVER','WHOIS_COUNTRY','WHOIS_STATEPRO','WHOIS_REGDATE','WHOIS_UPDATED_DATE'],inplace=True)

Checking Again

In [15]:
random_df.isna().sum()

URL                          0
URL_LENGTH                   0
NUMBER_SPECIAL_CHARACTERS    0
CONTENT_LENGTH               0
TCP_CONVERSATION_EXCHANGE    0
DIST_REMOTE_TCP_PORT         0
REMOTE_IPS                   0
APP_BYTES                    0
SOURCE_APP_PACKETS           0
REMOTE_APP_PACKETS           0
SOURCE_APP_BYTES             0
REMOTE_APP_BYTES             0
APP_PACKETS                  0
DNS_QUERY_TIMES              0
Type                         0
dtype: int64

Dropping column URL

In [20]:
random_df.drop(columns=['URL'],inplace=True)

Normalization

In [21]:
X = random_df.iloc[:,:-1]
y = random_df.loc[:, ['Type']]

In [22]:
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(X)
normalize_df = pd.DataFrame(x_scaled)

In [23]:
normalize_df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.107296,0.052632,0.000433,0.015075,0.000000,0.176471,0.000791,0.018364,0.017913,0.008907,0.000932,0.018364,0.2
1,0.141631,0.157895,0.002802,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2,0.214592,0.157895,0.014486,0.012563,0.002825,0.235294,0.000434,0.012521,0.003115,0.000119,0.000434,0.012521,0.0
3,0.017167,0.000000,0.018062,0.000000,0.000000,0.000000,0.000000,0.001669,0.002336,0.000103,0.000062,0.001669,0.1
4,0.175966,0.131579,0.032415,0.089615,0.005650,0.235294,0.003803,0.092654,0.115265,0.113691,0.003933,0.092654,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,0.154506,0.184211,0.021024,0.013400,0.001412,0.294118,0.000681,0.018364,0.015576,0.001289,0.000897,0.018364,0.3
1777,0.416309,0.421053,0.024998,0.005863,0.008475,0.176471,0.000256,0.005843,0.007009,0.000289,0.000256,0.005843,0.0
1778,0.103004,0.210526,0.000990,0.009213,0.001412,0.235294,0.000536,0.012521,0.009346,0.000466,0.000655,0.012521,0.2
1779,0.163090,0.184211,0.003855,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1780,0.180258,0.157895,0.018062,0.016750,0.012712,0.235294,0.001302,0.021703,0.017913,0.004208,0.001479,0.021703,0.3

Spliting for Training

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [26]:
X_train

,URL_LENGTH,NUMBER_SPECIAL_CHARACTERS,CONTENT_LENGTH,TCP_CONVERSATION_EXCHANGE,DIST_REMOTE_TCP_PORT,REMOTE_IPS,APP_BYTES,SOURCE_APP_PACKETS,REMOTE_APP_PACKETS,SOURCE_APP_BYTES,REMOTE_APP_BYTES,APP_PACKETS,DNS_QUERY_TIMES
981,52,9,28239.000000,51,1,10,4049,55,58,61312,4361,55,4.0
584,42,10,11726.927761,15,0,3,2124,17,20,12884,2270,17,2.0
112,28,6,10576.000000,14,9,2,2094,14,12,8019,2094,14,0.0
1714,122,22,11726.927761,0,0,0,0,0,2,124,0,0,0.0
550,40,9,622.000000,0,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1524,83,16,11726.927761,7,3,3,630,7,5,310,630,7,0.0
812,47,8,11726.927761,55,47,6,7049,65,64,110342,7819,65,10.0
380,38,8,1819.000000,0,0,0,0,0,0,0,0,0,0.0
432,39,9,11726.927761,0,0,0,0,0,0,0,0,0,0.0
346,37,10,11726.927761,12,0,2,1961,16,14,2991,2245,16,4.0

In [27]:
y_train

      Type
981      0
584      1
112      0
1714     1
550      0
...    ...
1524     0
812      0
380      0
432      0
346      1

[1246 rows x 1 columns]

Training Classifier

In [28]:
# train a Gaussian Naive Bayes classifier on the training set
from sklearn.naive_bayes import GaussianNB


# instantiate the model
gnb = GaussianNB()


# fit the model
gnb.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [29]:
y_pred = gnb.predict(X_test)

y_pred

array([1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1])

In [30]:
from sklearn.metrics import accuracy_score

print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score: 0.3103

In [31]:
y_pred_train = gnb.predict(X_train)

y_pred_train

array([0, 1, 1, ..., 1, 1, 1])

In [32]:
print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train)))

Training-set accuracy score: 0.3050

In [33]:
# print the scores on training and test set

print('Training set score: {:.4f}'.format(gnb.score(X_train, y_train)))

print('Test set score: {:.4f}'.format(gnb.score(X_test, y_test)))

Training set score: 0.3050
Test set score: 0.3103

In [34]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.22      0.36       475
           1       0.14      1.00      0.25        60

    accuracy                           0.31       535
   macro avg       0.57      0.61      0.31       535
weighted avg       0.90      0.31      0.35       535